<h1>Edit Endpoint</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.endpoint_path(@conn, :update, @endpoint)) %>

<span><%= link "Back", to: Routes.endpoint_path(@conn, :index) %></span>
